@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
    min-height: 150px !important;
}

.ant-breadcrumb-separator {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
